.introducao {
  max-width: 1200px;
  padding: 40px 20px; /* desgruda */
  margin: 0 auto; /* alinha */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 200px;
  align-items: center;
}



.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125; /*relativo ao valor do font size*/
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: url('/img/detalheM.svg')no-repeat center;
  position: absolute;
  top: 14px;
  left: -91px;
}

.introducao p{
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px){
    .introducao h1{
      font-size: 3rem;
    }
  }

  @media (max-width: 800px){
    .introducao{
      grid-template-columns: 1fr 1fr;
      gap: 70px;
    }

    .introducao h1{
      font-size: 2rem;
      padding-top: 10px;
    }

    .introducao h1::before{
      height: 97px;
    }
  }

  @media (max-width: 400px){
    .introducao{
      grid-template-columns: 1fr;
    }
    .introducao img {
      display: none;

    }
  }